<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         metadata-complete="true"
         version="2.5">
    <display-name>db</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>success.jsp</welcome-file>
        <welcome-file>study.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>


    <!--
      配置web初始化参数
    -->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc.mysql://localhost:3306/db_news</param-value>
    </context-param>
    <!--  注册Servlet -->
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.marco.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/yaya</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reenvio</servlet-name>
        <servlet-class>com.marco.servlet.Reenvio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reenvio</servlet-name>
        <url-pattern>/isReenvio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PropertiesServlet</servlet-name>
        <servlet-class>com.marco.servlet.PropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PropertiesServlet</servlet-name>
        <url-pattern>/propertiesServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.marco.servlet.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/fileDown</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.marco.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.marco.servlet.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.marco.login.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.marco.cache.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCookie</servlet-name>
        <servlet-class>com.marco.cache.DeleteCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookie</servlet-name>
        <url-pattern>/deleteCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetSession</servlet-name>
        <servlet-class>com.marco.cache.SetSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetSession</servlet-name>
        <url-pattern>/setSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSession</servlet-name>
        <servlet-class>com.marco.cache.GetSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSession</servlet-name>
        <url-pattern>/getSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSession</servlet-name>
        <servlet-class>com.marco.cache.DeleteSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSession</servlet-name>
        <url-pattern>/deleteSession</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <!--  <servlet>-->
    <!--    <servlet-name>error</servlet-name>-->
    <!--    <servlet-class>com.marco.servlet.ErrorServlet</servlet-class>-->
    <!--  </servlet>-->
    <!--  <servlet-mapping>-->
    <!--    <servlet-name>error</servlet-name>-->
    <!--    <url-pattern>/*</url-pattern>-->
    <!--  </servlet-mapping>-->



</web-app>